@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;

}

body {
    background-color: #faebd7;
    font-family: 'ubuntu', sans-serif;
    background-position: center;
    background-size: cover;
 
}

.container{
    height: 400px;
    width: 90%;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    position: relative;
}

h1{
    text-align: center;
    margin-bottom: 40pxl;
    color: rgb(174, 21, 21);
    font-family: 'ubuntu';

}

container-form{
    width: 280px;
    position: absolute;
    top: 110px;
    left: 40px;
    text-align: center;
}

.btn_box{
    width: 100%;
    text-align: right;
    
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #cd1e1e, #ef6f6f);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor:pointer ;
    font-size: 0.8em;
}

form input{
width: 100%;
padding: 20px 10px;
margin: 5px 0;
border: 0;
border-bottom: 1px solid #999;
outline: none;
background: transparent;
}

a {
    color: #A84448;
}

.main-divs {
    margin: 15px;
    max-width: 700px;
    justify-content: center;
}

#header-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}

#p-texts {
    text-align: justify;
}

#personal-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-data {
    justify-content: space-between;
    margin: 20px;
    padding: auto;
}

#birthday {
    width: 50px;
}

#authorization {
    max-width: 450px;
    text-align: center;
}

#personal-info-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#personal-info-div h3 {
    text-align: center;
}

#time-available {
    text-align: center;
}

#availability-div {
    text-align: center;
}

.form2 {
    left: 450px;
}

.form3 {
    left: 450px;
}

.form4 {
    left: 450px;
}

.form5 {
    left: 450px;
}
