.aboutpage a:visited {
    color: #E09F3E;
}

.aboutpage h1 {
    font-size: 2em;
}

.aboutpage h4 {
    font-size: 1.2em;
}

#aboutpage-link {
    text-align: center;
}

#about-img {
    max-width: 500px;
    width: 500px;
}