.footer-cotolengo {
    background-color: #e09f3ec9;
    min-height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    flex-wrap: wrap;
}

.footer-cotolengo img {
    width: 3vh;
}

#footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#footer-icons a {
    margin: 2vh;
    font-size: 1.3em;
    font-weight: bold;
    color: #335C67;
}

#footer-icons a:visited {
    color: #335c6789;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #335C67;
    min-height: 13vh;
    color: white;
}

.footer-social img {
    width: 40px;
    padding: 2vh;
    margin: 2vh;
}

.footer-social p {
    text-align: center;
}