#volunteer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #540B0E;
}

#volunteer h2 {
    text-align: center;
    margin-top: 5vh;
}

#areas input {
    border: 0;
    padding: 0;
    margin: 0;
    width: 10px;
}

#time-available input {
    border: 0;
    padding: 0;
    margin: 0;
    width: 10px;
}

#areas {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start; 
  
}
 
#areas label {
    display: flex;
    justify-content: start;  
    margin-top: 2px;
    margin-left: 15%;
}

#areas input {
  margin-right: 4px;
}


 
#time-available {
 display: flex;
 flex-direction: row;
 width: 60vw;
 margin-left: 10%;
}

.time-divs {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 3vh;
    align-self: flex-start; 
    justify-content: space-around;
}


.time-divs label{
  display: flex;
  justify-content: start;
}

.time-divs p{
    display: flex;
    justify-content: start;
  }

  #time-available input {
    margin-right: 4px;
  }
  

.center-input {
    align-self: center;
}