.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #335C67;
    flex-wrap: wrap;
}

.header-bar a {
    font-size: 1.5em; 
    font-weight: bolder;
    padding: 0 3vh;
}

.header-bar a:hover {
    background-color: #e09f3ec9;
}

.header-bar a:visited {
    color: #335c6789;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    min-width: 300px;
    flex-wrap: wrap;
}

@media (max-width:720px) {
    .header-links {
        visibility: hidden;
    }
}