.frontpage-principal {
    margin: 3vh auto;
    padding: 3vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px #E09F3E;
    color: #540B0E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
}

.frontpage-principal img {
    max-width: 350px;
    margin: 1vh;
    width: 350px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px #335C67;
    width: inherit;
    height: inherit;
    border-radius: 5px;
}

.frontpage-principal p {
    max-width: 350px;
    font-size: 1em;
}

.frontpage-principal h3 {
    font-size: 1.5em;
}

.frontpage-principal h4 {
    font-size: 1.2em;
}

.frontpage-text {
    max-width: 40vh;
    align-self: center;
}
