body {
    margin: 0;
    background-color: #fff3b06e;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: none;
}

button {
    min-width: 10vh;
    width: fit-content;
    min-height: 5vh;
    margin: 10px 10px;
    padding: 10px 10px;
    background: #335C67;
    border-radius: 10px;
    border: none;
    outline: 1px solid black;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #399861;
}

input {
    padding: 10px 10px;
    margin: 0px 10px;
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
}
